@charset "UTF-8";

p{
    font-size: 20px;
    text-align: justify;
}


main{
    background-color: white;
    padding: 20px; 
    margin: auto;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 1000px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 3px 7px 2px rgba(0, 0, 0, 0.488);

}

main img.pequeno{
    max-width: 350px;
    display: block;
    margin: auto;
}

main h1{
    font-family: 'Idroid';
    font-weight: normal;
    text-align: left;
    color: #063D1E;
    text-shadow: 2px 2px 0px #063d1e26;
}

main h2{
    font-family: 'Idroid';
    color: #063D1E;
    font-weight: normal;
    text-shadow: 2px 2px 0px #063d1e26;
    background-image: linear-gradient(to right, rgba(28, 175, 28, 0.882), transparent);
}

main p{
    text-indent: 20px;
    text-align: justify;
    line-height: 1.8em;
    padding: 15px 0px;
}


/*tirando o sublinhado do link*/
main a{
    text-decoration: none;
    background-color: #2fa865b9;
    color: #063D1E;
    font-weight: bolder;
    padding: 3px;
    font-style: italic;
}

/*colocando sublinhando quando passar o mouse*/
main a:hover{
    text-decoration: underline;
}

a.externo::after{
    content: '\00A0\1F517';
}

/*centralizando as fotos*/
main img{
    display: block;
    margin: auto;
    width: 100%;
}


/*Vídeos Flexíveis*/
div.video{
    background-color: #063D1E;
    height: 0px;
    margin: 0px -13px 14px -13px;
    padding-bottom: 58%;
    position: relative;
}

div.video>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside > ul{
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
    padding: 16px 0px;
}


aside{
    background-color: #83E1AD;
    border-radius: 7px;
    box-shadow: 5px 3px 7px 2px rgba(0, 0, 0, 0.488);
    padding: 10px;
}

/*margin você vai saber olhando pelo DevTools*/

aside > h3{
    background-color: #063D1E;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #063D1E;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 7px 7px 0px 0px;
}

aside > ul{
    padding-bottom: 10px;
    text-align: justify;
}

aside > p{
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.293);
    text-align: center;
}